body {
  font-family: 'sans-serif',arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-inline: 30px;
}
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-radius: 5px;
}
.title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px 0;
}
.category {
  font-style: italic;
  color: #666;
  margin-bottom: 5px;
}
.author {
  font-size: 0.9em;
  color: #333;
}